apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "sentry.fullname" . }}-infra-config
  labels:
    {{- include "sentry.labels" . | nindent 4 }}
data:
  redis.conf: |
    maxmemory 0
    maxmemory-policy volatile-lru

  clickhouse-config.xml: |
    <yandex>
        <max_server_memory_usage_to_ram_ratio from_env="MAX_MEMORY_USAGE_RATIO"/>
        <logger>
            <level>warning</level>
            <console>true</console>
        </logger>
        <query_thread_log remove="remove"/>
        <query_log remove="remove"/>
        <text_log remove="remove"/>
        <trace_log remove="remove"/>
        <metric_log remove="remove"/>
        <asynchronous_metric_log remove="remove"/>
        <session_log remove="remove"/>
        <part_log remove="remove"/>
        <allow_nullable_key>1</allow_nullable_key>
        <profiles>
            <default>
                <log_queries>0</log_queries>
                <log_query_threads>0</log_query_threads>
            </default>
        </profiles>
        <merge_tree>
            <enable_mixed_granularity_parts>1</enable_mixed_granularity_parts>
            <max_suspicious_broken_parts>100</max_suspicious_broken_parts>
        </merge_tree>
    </yandex>

  clickhouse-users.xml: |
    <clickhouse>
      <users>
        <default>
          <password></password>
          <networks>
            <ip>::/0</ip>
          </networks>
        </default>
      </users>
    </clickhouse>
