apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "sentry.fullname" . }}-config
  labels:
    {{- include "sentry.labels" . | nindent 4 }}
data:
  sentry.conf.py: |
    from sentry.conf.server import *  # NOQA

    import os

    # Hack to get environment variables
    def env(key, default=None):
        return os.environ.get(key, default)

    BYTE_MULTIPLIER = 1024
    UNITS = ("K", "M", "G")

    def unit_text_to_bytes(text):
        unit = text[-1].upper()
        power = UNITS.index(unit) + 1
        return float(text[:-1]) * (BYTE_MULTIPLIER**power)

    DATABASES = {
        "default": {
            "ENGINE": "sentry.db.postgres",
            "NAME": "postgres",
            "USER": "postgres",
            "PASSWORD": "",
            "HOST": "{{ include "sentry.fullname" . }}-pgbouncer",
            "PORT": "5432",
        }
    }

    SENTRY_SINGLE_ORGANIZATION = True
    SENTRY_OPTIONS["system.event-retention-days"] = int(env("SENTRY_EVENT_RETENTION_DAYS", "90"))

    if env("SENTRY_SYSTEM_SECRET_KEY"):
        SENTRY_OPTIONS["system.secret-key"] = env("SENTRY_SYSTEM_SECRET_KEY", "")

    SENTRY_NODESTORE = "sentry_nodestore_s3.S3PassthroughDjangoNodeStorage"
    SENTRY_NODESTORE_OPTIONS = {
        "compression": True,
        "endpoint_url": "http://{{ include "sentry.fullname" . }}-seaweedfs:8333",
        "bucket_path": "nodestore",
        "bucket_name": "nodestore",
        "region_name": "us-east-1",
        "aws_access_key_id": "sentry",
        "aws_secret_access_key": "sentry",
    }

    SENTRY_OPTIONS["redis.clusters"] = {
        "default": {
            "hosts": {0: {"host": "{{ include "sentry.fullname" . }}-redis", "password": "", "port": "6379", "db": "0"}}
        }
    }

    CACHES = {
        "default": {
            "BACKEND": "django.core.cache.backends.memcached.PyMemcacheCache",
            "LOCATION": ["{{ include "sentry.fullname" . }}-memcached:11211"],
            "TIMEOUT": 3600,
            "OPTIONS": {"ignore_exc": True},
        }
    }

    SENTRY_CACHE = "sentry.cache.redis.RedisCache"

    DEFAULT_KAFKA_OPTIONS = {
        "bootstrap.servers": "{{ include "sentry.fullname" . }}-kafka:9092",
        "message.max.bytes": 50000000,
        "socket.timeout.ms": 1000,
    }

    SENTRY_EVENTSTREAM = "sentry.eventstream.kafka.KafkaEventStream"
    SENTRY_EVENTSTREAM_OPTIONS = {"producer_configuration": DEFAULT_KAFKA_OPTIONS}
    KAFKA_CLUSTERS["default"] = DEFAULT_KAFKA_OPTIONS

    SENTRY_RATELIMITER = "sentry.ratelimits.redis.RedisRateLimiter"
    SENTRY_BUFFER = "sentry.buffer.redis.RedisBuffer"
    SENTRY_QUOTAS = "sentry.quotas.redis.RedisQuota"
    SENTRY_TSDB = "sentry.tsdb.redissnuba.RedisSnubaTSDB"

    SENTRY_SEARCH = "sentry.search.snuba.EventsDatasetSnubaSearchBackend"
    SENTRY_SEARCH_OPTIONS = {}
    SENTRY_TAGSTORE_OPTIONS = {}

    SENTRY_DIGESTS = "sentry.digests.backends.redis.RedisBackend"

    SENTRY_WEB_HOST = "0.0.0.0"
    SENTRY_WEB_PORT = 9000
    SENTRY_WEB_OPTIONS = {
        "http": "%s:%s" % (SENTRY_WEB_HOST, SENTRY_WEB_PORT),
        "protocol": "uwsgi",
        "uwsgi-socket": None,
        "so-keepalive": True,
        "http-keepalive": 15,
        "http-chunked-input": True,
        "workers": 3,
        "threads": 4,
        "memory-report": False,
        "max-requests": 100000,
        "max-requests-delta": 500,
        "max-worker-lifetime": 86400,
        "thunder-lock": True,
        "log-x-forwarded-for": False,
        "buffer-size": 32768,
        "limit-post": 209715200,
        "disable-logging": True,
        "reload-on-rss": 600,
        "ignore-sigpipe": True,
        "ignore-write-errors": True,
        "disable-write-exception": True,
    }

    SENTRY_OPTIONS["mail.list-namespace"] = env("SENTRY_MAIL_HOST", "localhost")
    SENTRY_OPTIONS["mail.from"] = f"sentry@{SENTRY_OPTIONS['mail.list-namespace']}"

    # Feature flags from example
    SENTRY_FEATURES["projects:sample-events"] = False
    SENTRY_FEATURES.update({
        feature: True for feature in (
            "organizations:discover", "organizations:global-views", "organizations:issue-views",
            "organizations:incidents", "organizations:integrations-issue-basic",
            "organizations:integrations-issue-sync", "organizations:invite-members",
            "organizations:sso-basic", "organizations:sso-saml2", "organizations:advanced-search",
            "organizations:issue-platform", "organizations:monitors", "organizations:dashboards-mep",
            "organizations:mep-rollout-flag", "organizations:dashboards-rh-widget",
            "organizations:dynamic-sampling", "projects:custom-inbound-filters",
            "projects:data-forwarding", "projects:discard-groups", "projects:plugins",
            "projects:rate-limits", "projects:servicehooks", "organizations:performance-view",
            "organizations:span-stats", "organizations:visibility-explore-view",
            "organizations:visibility-explore-range-high", "organizations:transaction-metrics-extraction",
            "organizations:indexed-spans-extraction", "organizations:insights-entry-points",
            "organizations:insights-initial-modules", "organizations:insights-addon-modules",
            "organizations:insights-modules-use-eap", "organizations:standalone-span-ingestion",
            "organizations:starfish-mobile-appstart", "projects:span-metrics-extraction",
            "projects:span-metrics-extraction-addons", "organizations:session-replay",
            "organizations:user-feedback-ui", "organizations:profiling", "organizations:profiling-view",
            "organizations:continuous-profiling", "organizations:continuous-profiling-stats",
            "organizations:uptime", "organizations:uptime-create-issues", "organizations:ourlogs-enabled",
            "organizations:ourlogs-ingestion", "organizations:ourlogs-stats", "organizations:ourlogs-replay-ui"
        )
    })

    GEOIP_PATH_MMDB = "/geoip/GeoLite2-City.mmdb"

    # Defaults from install.sh / docker-compose
    SNUBA = "http://{{ include "sentry.fullname" . }}-snuba-api:1218"
    VROOM = "http://{{ include "sentry.fullname" . }}-vroom:8085"

    SENTRY_OPTIONS["system.url-prefix"] = env("SENTRY_URL_PREFIX", "{{ .Values.config.systemUrlPrefix }}")

  entrypoint.sh: |
    #!/bin/bash
    set -e
    # if [ "$(ls -A /usr/local/share/ca-certificates/)" ]; then
    #   update-ca-certificates
    # fi
    source /docker-entrypoint.sh

  symbolicator-config.yml: |
    cache_dir: "/data"
    bind: "0.0.0.0:3021"
    logging:
      level: "warn"
    sentry_dsn: null

  nginx.conf: |
    user nginx;
    worker_processes auto;
    error_log /var/log/nginx/error.log warn;
    pid /var/run/nginx.pid;
    events {
        worker_connections 1024;
    }
    http {
        include /etc/nginx/mime.types;
        default_type application/octet-stream;
        log_format main '$remote_addr - $remote_user [$time_local] "$request" '
        '$status $body_bytes_sent "$http_referer" '
        '"$http_user_agent" "$http_x_forwarded_for"';
        access_log /var/log/nginx/access.log main;
        sendfile on;
        tcp_nopush on;
        tcp_nodelay on;
        reset_timedout_connection on;
        keepalive_timeout 75s;
        gzip off;
        server_tokens off;
        server_names_hash_bucket_size 64;
        types_hash_max_size 2048;
        types_hash_bucket_size 64;
        client_body_buffer_size 64k;
        client_max_body_size 100m;
        proxy_http_version 1.1;
        proxy_redirect off;
        proxy_buffer_size          128k;
        proxy_buffers              4 256k;
        proxy_busy_buffers_size    256k;
        set_real_ip_from 10.0.0.0/8;
        real_ip_header X-Forwarded-For;
        real_ip_recursive on;
        proxy_set_header Connection '';
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Request-Id $request_id;
        proxy_read_timeout 30s;
        proxy_send_timeout 5s;

        upstream relay {
            server {{ include "sentry.fullname" . }}-relay:3000;
            keepalive 2;
        }

        upstream sentry {
            server {{ include "sentry.fullname" . }}-web:9000;
            keepalive 2;
        }

        server {
            listen 80;
            location /api/store/ {
                proxy_pass http://relay;
            }
            location ~ ^/api/[1-9]\d*/ {
                proxy_pass http://relay;
            }
            location ^~ /api/0/relays/ {
                proxy_pass http://relay;
            }
            location ^~ /js-sdk/ {
                root /var/www/;
                add_header Access-Control-Allow-Origin *;
            }
            location / {
                proxy_pass http://sentry;
            }
            location /_assets/ {
                proxy_pass http://sentry/_static/dist/sentry/;
                proxy_hide_header Content-Disposition;
            }
            location /_static/ {
                proxy_pass http://sentry;
                proxy_hide_header Content-Disposition;
            }
        }
    }
